/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html,
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    border: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background-color: #ffa155;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 10px solid #FF7300;
    overflow: hidden;
    background-image: url('./Assets/0d2b0fcdd852b1f7.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.state {
    position: absolute;
    width: 72%;
    height: 68%;
    left: 14%;
}

.state-hide {
    visibility: hidden;
}

#logo {
    position: absolute;
    z-index: 14;
    width: 32%;
    padding-left: 1%;
    padding-top: 1%;
}

#go-gacha {
    position: absolute;
    width: min(18vw, 18vh);
    height: min(18vw, 18vh);
    border: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    background-color: transparent;
}

#shine {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    opacity: 0;
    pointer-events: none;
}

#type {
    position: absolute;
    width: 100%;
    aspect-ratio: 1008 / 326;
    bottom: 8%;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-column-gap: 1%;
    -moz-column-gap: 1%;
    column-gap: 1%;
    background-size: contain;
    background-image: url('./Assets/Gacha_TypeBox_Normal.png');
    background-position: center;
}

#type-1 {
    height: 40%;
    width: 28%;
    position: relative;
}

.type-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.type-btn img {
    position: absolute;
    width: 100%;
    z-index: 2;
}

#type-5 {
    height: 40%;
    width: 28%;
    position: relative;
}

#type-10 {
    height: 40%;
    width: 28%;
    position: relative;
}

.type-active::before {
    content: "";
    position: absolute;
    display: block;
    top: -12px;
    left: 8px;
    z-index: 1;
    background: -o-linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
    background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #FF00C8, #FF0000);
    width: calc(100% + -14px);
    height: calc(100% + 24px);
    border-radius: 30px;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
    background-size: 600%;
}

@-webkit-keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#close-btn.hide,
#result-1.hide,
#result-5.hide,
#result-10.hide {
    display: none;
}

#result-1 {
    background-color: #ffffffa0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#result-5 {
    background-color: #ffffffa0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    gap: 10px;
    z-index: 15;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#result-10 {
    background-color: #ffffffa0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    gap: 10px;
    z-index: 15;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.box {
    background-size: contain;
    padding-left: 0.5rem;
    background-color: #e79946ef;
    border: 8px solid #fff;
    border-radius: 20%;
    text-align: start;
    vertical-align: middle;
    font-weight: bolder;
    -ms-grid-column-align: center;
    justify-self: center;
    color: #18ab07;
    text-shadow: -1px -1px 0 #fff3ed,
        1px -1px 0 #fff3ed,
        -1px 1px 0 #fff3ed,
        1px 1px 0 #fff3ed;
}

#close-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    height: min(8vw, 8vh);
    width: min(8vw, 8vh);
}

#close-btn::after {
    display: ruby-text;
    content: "\00d7";
    font-size: min(8vw, 8vh);
    font-weight: bolder;
    color: #000000;
    height: 100%;
    width: 100%;
    line-height: 100%;
}

#options {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 65535;
    overflow-y: auto;
}

#options.hide {
    display: none;
}

#save-btn {
    width: 100%;
    height: 50px;
    font-size: 35px;
}

#input-cnt-label {
    margin-top: 20px;
}

#input-cnt {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    font-size: 40px;
}

#usable-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px;
}

.usable-box {
    width: min(12vw, 12vh);
    height: min(12vw, 12vh);
    background-color: #e79946ef;
    border-radius: 20%;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    -ms-grid-column-align: center;
    justify-self: center;
    color: #fff3ed;
    font-size: min(12vw, 12vh);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.usable-box.sold-out {
    background-color: #6b6b6b;
}

#chicken_1::before,
#chicken_2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#chicken_1::before {
    background-image: url("./Assets/f2ec2c6ec6513ace.png");
}

#chicken_2::before {
    background-image: url("./Assets/d12ba3aed2fdff1c.png");
}

#type-1-img,
#type-5-img,
#type-10-img {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#type-1-img::before,
#type-5-img::before,
#type-10-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#type-1-img::before {
    background-image: url("./Assets/Gacha_x1_Normal.png");
}

#type-5-img::before {
    background-image: url("./Assets/Gacha_x5_Normal.png");
}

#type-10-img::before {
    background-image: url("./Assets/Gacha_x10_Normal.png");
}

#switches-box {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

#chicken-theme {
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.result-code-A {
    background-image: url("./Assets/A.jpg");
}

.result-code-B {
    background-image: url("./Assets/B.jpg");
}

.result-code-C {
    background-image: url("./Assets/C.jpg");
}

.result-code-D {
    background-image: url("./Assets/D.jpg");
}

.result-code-E {
    background-image: url("./Assets/E.jpg");
}

.result-code-F {
    background-image: url("./Assets/F.jpg");
}